<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <!-- Custom CSS -->
      {% include styles.snippet %}
    </head>
    <body>
        <div class="container row">
          <div class="site twelve-large twelve-small columns">
              <div class="row">
                {{ content }}
              </div>
            <footer>
                {% include footer.snippet %}
            </footer>
          </div>
        </div> <!-- /container -->
        {% include scripts.snippet %}
    </body>
</html>
